<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">BlogVegetariano</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
{#                <a class="nav-link" href="{{ path('home') }}">Inicio <span class="sr-only">(current)</span></a>#}
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('post_index') }}">Publicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('post_new') }}">Crear Publicacion</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Administrar</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('saber_mas') }}">Aprende Mas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contactanos') }}">Contactanos</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if app.user %}
                <li class="nav-item">
                    <a href="#" class="nav-link disabled">{{ app.user.email }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Cerrar Session</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Registrarse</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>